<!doctype html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <title>疫情查询</title>
</head>

<body>
    <div class="container">
        <div class="card" style="width: 50rem;" id="main">
            <div class="card-header">
                <h4 class="text-center text-success">疫情卡片</h4>
            </div>
            <div class="card-body">
                <div class="row text-center">
                    <div class="col-4">
                        <span class="badge bg-primary fs-4">{{ data.name }}</span>
                    </div>
                    <div class="col-4 offset-4">
                        <span class="badge bg-info fs-4">{{ data.time }}</span>
                    </div>
                </div>

                <div class="row text-center" style="margin-top: 20px;">
                    <div class="col-4">
                        <h3>现存确诊</h3>
                    </div>
                    <div class="col-4">
                        <h3>疑似病例</h3>
                    </div>
                    <div class="col-4">
                        <h3>重症病例</h3>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-4">
                        <h3 class="text-info">{{ data.currentConfirmedCount }}</h3>
                    </div>
                    <div class="col-4">
                        <h3 class="text-warning">{{ data.suspectedCount }}</h3>
                    </div>
                    <div class="col-4">
                        <h3 class="text-danger">{{ data.highDangerCount }}</h3>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-4">
                        <h3>累计确诊</h3>
                    </div>
                    <div class="col-4">
                        <h3>累计死亡</h3>
                    </div>
                    <div class="col-4">
                        <h3>累计治愈</h3>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-4">
                        <h3 class="text-primary">{{ data.confirmedCount }}</h3>
                    </div>
                    <div class="col-4">
                        <h3 class="text-secondary">{{ data.deadCount }}</h3>
                    </div>
                    <div class="col-4">
                        <h3 class="text-success">{{ data.curedCount }}</h3>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <p class="text-center text-warning fs-4">数据来源：丁香医生</p>
            </div>
        </div>
    </div>
</body>

</html>
