<!DOCTYPE html>

<head>
  <meta charset="utf8">
  <link rel="stylesheet" href="css/weather.css">
  <link rel="stylesheet" href="css/qweather-icons.css">
</head>

<body>
  <div class="main" id="main">
    <div class="today-weather">
      <div class="today-top">
        <div class="text-center">
          <h1 class="city">{{ city }}</h1>
          <p class="realtime-tem">{{ now['temp'] }}°</p>
        </div>

        <div class="text-center">
          <p class="obs-time">{{ now['obsTime'] }}</p>
          <em class="qi-{{ now['icon'] }}"></em>
          <p class="realtime-text">{{ now['text'] }}</p>
        </div>
      </div>



      <div class="today-button">
        <div>
          <p>{{ now['windScale'] }}级</p>
          <p class="des">{{ now['windDir'] }}</p>
        </div>
        <div>
          <p>{{ now['humidity'] }}%</p>
          <p class="des">相对湿度</p>
        </div>
        <div>
          <p>{{ now['precip'] }}mm</p>
          <p class="des">降水量</p>
        </div>
        <div>
          <p>{{ now['vis'] }}km</p>
          <p class="des">能见度</p>
        </div>
      </div>
    </div>


    <div class="days-weather">
      {% for day in daily %}
      <div class="days">
        <!-- 1 -->
        <div class="week-date">
          <p class="weeks">{{ day["week"] }}</p>
          <p class="date">{{ day["date"] }}</p>
        </div>
        <!-- 2 -->
        <div class="tem-text">
          <p class="days-temp">{{ day["tempMax"] }}°</p>
          <p class="days-text">{{ day["textDay"] }}</p>
        </div>
        <!-- 3 -->
        <div class="tem-line-box">

          <div class="days-icon">
            <div>
              <em class="qi-{{ day['iconDay'] }} icon-size icon-day"></em>

            </div>
            <div class="icon-night">
              <em class="qi-{{ day['iconNight'] }} icon-size icon-night"></em>
            </div>
          </div>

          <div class="tem-line-outbox">
            <div class="tem-line"></div>
          </div>

        </div>
        <!-- 4 -->
        <div class="tem-text">
          <p class="days-temp">{{ day["tempMin"] }}°</p>
          <p class="days-text">{{ day["textNight"]}}</p>

        </div>
      </div>
      {% endfor %}
    </div>
    {% for w in warning %}
    <div class="warning-box">
      <div class="warning-side">
        <div class="warning-icon"><em class="qi-{{ w['type'] }}"></em></div>
        <div class="warning-header">
          <p class="warning-title">{{ w['title'] }}</p>
          <p class="warning-time">{{ w['startTime'] }}</p>
        </div>
      </div>
      <div class="warning-info">
        <p>{{ w['text'] }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
  </div>
</body>
