<!doctype html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="css/table.css" rel="stylesheet">
    <title>查询帮助</title>
</head>

<body>
    <div class="container">
        <div class="card" style="background-image: url('img/bg.png');width: 60rem;" id="main">
            <div class="card-header">
                <h4 class="text-center">查询帮助</h4>
            </div>
            <div class="card-body">
                <table class="table text-center">
                    <thead class="fs-4">
                        <tr>
                            <th scope="col">指令</th>
                            <th scope="col">用途</th>
                        </tr>
                    </thead>
                    <tbody class="fs-5">
                        <tr>
                            <td>日常 [<span class="text-success">服务器</span>]</td>
                            <td>查看日常，服务器可省略</td>
                        </tr>
                        <tr>
                            <td>开服 [<span class="text-success">服务器</span>]</td>
                            <td>查询是否开服，服务器可省略</td>
                        </tr>
                        <tr>
                            <td>金价 [<span class="text-success">服务器</span>]</td>
                            <td>查询金价，服务器可省略</td>
                        </tr>
                        <tr>
                            <td>沙盘 [<span class="text-success">服务器</span>]</td>
                            <td>查询沙盘，服务器可省略</td>
                        </tr>
                        <tr>
                            <td>小药 <span class="text-danger">职业</span> | <span class="text-danger">职业</span>小药</td>
                            <td>查询职业小药，如“<span class="text-danger">冰心小药</span>”|“<span class="text-danger">小药 冰心</span>”
                            </td>
                        </tr>
                        <tr>
                            <td>配装 <span class="text-danger">职业</span> | <span class="text-danger">职业</span>配装</td>
                            <td>查询职业配装，如“<span class="text-danger">冰心配装</span>”|“<span class="text-danger">配装 冰心</span>”
                            </td>
                        </tr>
                        <tr>
                            <td>宏 <span class="text-danger">职业</span> | <span class="text-danger">职业</span>宏</td>
                            <td>查询职业宏，如“<span class="text-danger">冰心宏</span>”|“<span class="text-danger">宏 冰心</span>”
                            </td>
                        </tr>
                        <tr>
                            <td>阵眼 <span class="text-danger">职业</span> | <span class="text-danger">职业</span>阵眼</td>
                            <td>查询职业阵眼，如“<span class="text-danger">冰心阵眼</span>”|“<span class="text-danger">阵眼 冰心</span>”
                            </td>
                        </tr>
                        <tr>
                            <td>前置|条件 <span class="text-danger">奇遇名</span></td>
                            <td>查询奇遇前置条件</td>
                        </tr>
                        <tr>
                            <td>攻略 <span class="text-danger">奇遇名</span>| <span class="text-danger">奇遇名</span>攻略</td>
                            <td>查询奇遇攻略</td>
                        </tr>
                        <tr>
                            <td>更新 | 公告 | 更新公告</td>
                            <td>查询最新更新公告</td>
                        </tr>
                        <tr>
                            <td>物价 <span class="text-danger">外观名</span></td>
                            <td>查询外观物价</td>
                        </tr>
                        <tr>
                            <td>骚话</td>
                            <td>召唤一条骚话</td>
                        </tr>
                        {% if flag %}
                        <tr>
                            <td>查询 [<span class="text-success">服务器</span>] <span class="text-danger">角色名</span></td>
                            <td>查询该角色的奇遇，服务器可省略</td>
                        </tr>
                        <tr>
                            <td>奇遇 [<span class="text-success">服务器</span>] <span class="text-danger">奇遇名</span></td>
                            <td>查询奇遇触发情况，服务器可省略</td>
                        </tr>
                        <tr>
                            <td>汇总 [<span class="text-success">服务器</span>]</td>
                            <td>查询服务器奇遇汇总，服务器可省略</td>
                        </tr>
                        <tr>
                            <td>战绩 [<span class="text-success">服务器</span>] <span class="text-danger">角色名</span></td>
                            <td>查询角色战绩，服务器可省略</td>
                        </tr>
                        <tr>
                            <td>装备|属性 [<span class="text-success">服务器</span>] <span class="text-danger">角色名</span></td>
                            <td>查询角色装备，服务器可省略</td>
                        </tr>
                        <tr>
                            <td>烟花 [<span class="text-success">服务器</span>] <span class="text-danger">角色名</span></td>
                            <td>查询烟花记录，服务器可省略</td>
                        </tr>
                        <tr>
                            <td>招募 [<span class="text-success">服务器</span>] [<span class="text-danger">关键字</span>]
                            <td>查询团队招募信息，服务器，关键字都可省略</td>
                        </tr>
                        <tr>
                            <td>资历榜 [<span class="text-success">服务器</span>] [<span class="text-danger">门派</span>]
                            <td>查询资历排行榜，服务器，门派都可省略</td>
                        </tr>
                        <tr>
                            <td>声望榜 [<span class="text-success">服务器</span>]</td>
                            <td>查询名士五十强，服务器可省略</td>
                        </tr>
                        <tr>
                            <td>老江湖 [<span class="text-success">服务器</span>]</td>
                            <td>查询老江湖五十强，服务器可省略</td>
                        </tr>
                        <tr>
                            <td>兵甲榜 [<span class="text-success">服务器</span>]</td>
                            <td>查询兵甲藏家五十强，服务器可省略</td>
                        </tr>
                        <tr>
                            <td>名师榜 [<span class="text-success">服务器</span>]</td>
                            <td>查询名师五十强，服务器可省略</td>
                        </tr>
                        <tr>
                            <td>战阶榜 [<span class="text-success">服务器</span>]</td>
                            <td>查询阵营英雄五十强，服务器可省略</td>
                        </tr>
                        <tr>
                            <td>薪火榜 [<span class="text-success">服务器</span>]</td>
                            <td>查询薪火相传五十强，服务器可省略</td>
                        </tr>
                        <tr>
                            <td>梓行榜 [<span class="text-success">服务器</span>]</td>
                            <td>查询庐园广记一百强，服务器可省略</td>
                        </tr>
                        <tr>
                            <td>爱心榜 [<span class="text-success">服务器</span>] <span class="text-danger">阵营</span></td>
                            <td>查询爱心帮会五十强，阵营填“浩气”或者“恶人”，服务器可省略</td>
                        </tr>
                        <tr>
                            <td>神兵榜 [<span class="text-success">服务器</span>] <span class="text-danger">阵营</span></td>
                            <td>查询神兵宝甲五十强，阵营填“浩气”或者“恶人”，服务器可省略</td>
                        </tr>
                        <tr>
                            <td>试炼榜 <span class="text-danger">门派</span></td>
                            <td>查询试炼之地排名</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <p class="text-center fs-5">剑网三查询帮助</p>
            </div>
        </div>
    </div>
</body>

</html>
