<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- <meta content="IE=edge" http-equiv="X-UA-Compatible"> -->
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>战绩查询</title>
    <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/table.css" rel="stylesheet">
</head>

<body>
    <div id="main" class="container">
        <div class="card" style="background-image: url('img/bg.png');">
            <div class="card-header">
                <div style="text-align:center; margin:10px">
                    <h3><img src="img/{{data.camp}}.png" height="40" width="48"><strong> {{server}} •
                            {{name}}</strong></h3>
                </div>
            </div>
            <div class="card-body">
                {% if data.performance['2v2'] %}
                <div>
                    <div class="row text-center text-body fs-4 p-1">
                        <div class="col"><span class="badge bg-primary">2v2</span></div>
                        <div class="col">总场次</div>
                        <div class="col">最佳</div>
                        <div class="col">胜场</div>
                        <div class="col">胜率</div>
                        <div class="col">评分</div>
                        <div class="col">周排名</div>
                    </div>
                    <div class="row text-center text-secondary fs-4 p-1">
                        <div class="col">{{ data.performance['2v2'].grade }}段</div>
                        <div class="col">{{ data.performance['2v2'].totalCount }}</div>
                        <div class="col">{{ data.performance['2v2'].mvpCount }}</div>
                        <div class="col">{{ data.performance['2v2'].winCount }}</div>
                        <div class="col">{{ data.performance['2v2'].winRate }}%</div>
                        <div class="col">{{ data.performance['2v2'].mmr }}</div>
                        <div class="col">{{ data.performance['2v2'].ranking }}</div>
                    </div>
                </div>
                <hr>
                {% endif %}
                {% if data.performance['3v3'] %}
                <div>
                    <div class="row text-center text-body fs-4 p-1">
                        <div class="col"><span class="badge bg-primary">3v3</span></div>
                        <div class="col">总场次</div>
                        <div class="col">最佳</div>
                        <div class="col">胜场</div>
                        <div class="col">胜率</div>
                        <div class="col">评分</div>
                        <div class="col">周排名</div>
                    </div>
                    <div class="row text-center text-secondary fs-4 p-1">
                        <div class="col">{{ data.performance['3v3'].grade }}段</div>
                        <div class="col">{{ data.performance['3v3'].totalCount }}</div>
                        <div class="col">{{ data.performance['3v3'].mvpCount }}</div>
                        <div class="col">{{ data.performance['3v3'].winCount }}</div>
                        <div class="col">{{ data.performance['3v3'].winRate }}'%</div>
                        <div class="col">{{ data.performance['3v3'].mmr }}</div>
                        <div class="col">{{ data.performance['3v3'].ranking }}</div>
                    </div>
                </div>
                <hr>
                {% endif %}
                {% if data.performance['5v5'] %}
                <div>
                    <div class="row text-center text-body fs-4 p-1">
                        <div class="col"><span class="badge bg-primary">5v5</span></div>
                        <div class="col">总场次</div>
                        <div class="col">最佳</div>
                        <div class="col">胜场</div>
                        <div class="col">胜率</div>
                        <div class="col">评分</div>
                        <div class="col">周排名</div>
                    </div>
                    <div class="row text-center text-secondary fs-4 p-1">
                        <div class="col">{{ data.performance['5v5'].grade }}段</div>
                        <div class="col">{{ data.performance['5v5'].totalCount }}</div>
                        <div class="col">{{ data.performance['5v5'].mvpCount }}</div>
                        <div class="col">{{ data.performance['5v5'].winCount }}</div>
                        <div class="col">{{ data.performance['5v5'].winRate }}'%</div>
                        <div class="col">{{ data.performance['5v5'].mmr }}</div>
                        <div class="col">{{ data.performance['5v5'].ranking }}</div>
                    </div>
                </div>
                <hr>
                {% endif %}
                <table class="table h5" id="table">
                    <thead class="table-dark">
                        <tr class="text-center">
                            <th scope="col">心法</th>
                            <th scope="col">比赛模式</th>
                            <th scope="col">评分变化</th>
                            <th scope="col">比赛时长</th>
                            <th scope="col">结束时间</th>
                            <th scope="col">比赛结果</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for one in data.history %}
                        <tr class="text-center align-middle fs-5">
                            <td class="text-center">
                                <img src="sect/{{ one.kungfu }}.png" width="40" height="40">
                            </td>
                            <td>
                                <strong>{{ one.avgGrade }}段
                                    <span class="badge bg-primary">{{ one.pvpType }}</span></strong>
                            </td>
                            {% if one.won %}
                            <td>{{ one.totalMmr }} <img src="img/up.png" width="10" height="10"> <strong
                                    style="color:#2a830f;">{{one.mmr}}</strong></td>
                            {% else %}
                            <td>{{ one.totalMmr }} <img src="img/down.png" width="10" height="10"> <strong
                                    style="color:#8f1313;">{{one.mmr}}</strong></td>
                            {% endif %}
                            <td>{{ one.time }}</td>
                            <td>{{ one.ago }}</td>
                            <td>
                                {% if one.won %}
                                <span class="badge bg-success fs-5">胜利</span>
                                {% else %}
                                <span class="badge bg-danger fs-5">失败</span>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <h6 class="text-center">数据来源：www.jx3api.com</h6>
            </div>
        </div>
    </div>

</body>

</html>
