<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>物价</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container" id="main">
        <div class="card" style="background-image: url('img/bg.png');">
            <div class="card-header">
                <p class="text-center fs-2">{{ name }}</p>
            </div>
            <div class="card-body">
                <div class="row">
                    <img src="{{ image }}">
                </div>
                <div class="row">
                    <div class="alert alert-secondary text-center">
                        <p class="fs-2">{{ info }}</p>
                    </div>
                </div>
                <table class="table table-bordered">
                    <tr>
                        <td>
                            <table class="table table-striped table-borderless h5">
                                <thead>
                                    <p class="text-center fs-3"><strong>电信一区</strong></p>
                                </thead>
                                <tbody>
                                    {% for one in data.电信一区 %}
                                    <tr>
                                        <td class='text-center text-warning'>{{ one.date }}</td>
                                        <td class='text-center'>{{ one.server }}</td>
                                        <td class='text-center text-primary'>￥{{ one.value }}</td>
                                        <td class='text-center'>
                                            {% if one.sale %}
                                            {{ one.sale }}
                                            {% else %}
                                            {{ one.sales }}
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </td>
                        <td>
                            <table class="table table-striped table-borderless h5">
                                <thead>
                                    <p class="text-center fs-3"><strong>双线一区</strong></p>
                                </thead>
                                <tbody>
                                    {% for one in data.双线一区 %}
                                    <tr>
                                        <td class='text-center text-warning'>{{ one.date }}</td>
                                        <td class='text-center'>{{ one.server }}</td>
                                        <td class='text-center text-primary'>￥{{ one.value }}</td>
                                        <td class='text-center'>
                                            {% if one.sale %}
                                            {{ one.sale }}
                                            {% else %}
                                            {{ one.sales }}
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table class="table table-striped table-borderless h5">
                                <thead>
                                    <p class="text-center fs-3"><strong>电信五区</strong></p>
                                </thead>
                                <tbody>
                                    {% for one in data.电信五区 %}
                                    <tr>
                                        <td class='text-center text-warning'>{{ one.date }}</td>
                                        <td class='text-center'>{{ one.server }}</td>
                                        <td class='text-center text-primary'>￥{{ one.value }}</td>
                                        <td class='text-center'>
                                            {% if one.sale %}
                                            {{ one.sale }}
                                            {% else %}
                                            {{ one.sales }}
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </td>
                        <td>
                            <table class="table table-striped table-borderless h5">
                                <thead>
                                    <p class="text-center fs-3"><strong>双线二区</strong></p>
                                </thead>
                                <tbody>
                                    {% for one in data.双线二区 %}
                                    <tr>
                                        <td class='text-center text-warning'>{{ one.date }}</td>
                                        <td class='text-center'>{{ one.server }}</td>
                                        <td class='text-center text-primary'>￥{{ one.value }}</td>
                                        <td class='text-center'>
                                            {% if one.sale %}
                                            {{ one.sale }}
                                            {% else %}
                                            {{ one.sales }}
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table class="table table-striped table-borderless h5">
                                <thead>
                                    <p class="text-center fs-3"><strong>电信八区</strong></p>
                                </thead>
                                <tbody>
                                    {% for one in data.电信八区 %}
                                    <tr>
                                        <td class='text-center text-warning'>{{ one.date }}</td>
                                        <td class='text-center'>{{ one.server }}</td>
                                        <td class='text-center text-primary'>￥{{ one.value }}</td>
                                        <td class='text-center'>
                                            {% if one.sale %}
                                            {{ one.sale }}
                                            {% else %}
                                            {{ one.sales }}
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </td>
                        <td>
                            <table class="table table-striped table-borderless h5">
                                <thead>
                                    <p class="text-center fs-3"><strong>双线四区</strong></p>
                                </thead>
                                <tbody>
                                    {% for one in data.双线四区 %}
                                    <tr>
                                        <td class='text-center text-warning'>{{ one.date }}</td>
                                        <td class='text-center'>{{ one.server }}</td>
                                        <td class='text-center text-primary'>￥{{ one.value }}</td>
                                        <td class='text-center'>
                                            {% if one.sale %}
                                            {{ one.sale }}
                                            {% else %}
                                            {{ one.sales }}
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="card-footer">
                <h6 class="text-center">数据来源：www.jx3api.com</h6>
            </div>
        </div>
    </div>
</body>

</html>
