<!doctype html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="css/table.css" rel="stylesheet">
    <title>管理员帮助</title>
</head>

<body>
    <div class="container">
        <div class="card" style="background-image: url('img/bg.png');width: 50rem;" id="main">
            <div class="card-header">
                <h4 class="text-center">管理员帮助</h4>
            </div>
            <div class="card-body">
                <table class="table text-center">
                    <thead class="fs-4">
                        <tr>
                            <th scope="col">指令</th>
                            <th scope="col">用途</th>
                        </tr>
                    </thead>
                    <tbody class="fs-5">
                        <tr>
                            <td>绑定 [<span class="text-danger">服务器</span>]</td>
                            <td>绑定游戏服务器</td>
                        </tr>
                        <tr>
                            <td>活跃值 [<span class="text-danger">1-99</span>]</td>
                            <td>设置机器人活跃值</td>
                        </tr>
                        <tr>
                            <td>滴滴 [<span class="text-danger">消息内容</span>]</td>
                            <td>发送消息给机器人管理员。</td>
                        </tr>
                        <tr>
                            <td>打开/关闭 [<span class="text-danger">插件名</span>]</td>
                            <td>打开/关闭插件</td>
                        </tr>
                        <tr>
                            <td>打开/关闭 XX通知/XX推送</td>
                            <td>可以开关菜单内通知和ws的推送消息</td>
                        </tr>
                        <tr>
                            <td>XX通知 [<span class="text-danger">消息内容</span>]</td>
                            <td>设置XX通知内容，<span class="text-success">晚安</span>/<span class="text-info">进群</span>/<span
                                    class="text-danger">离群</span>通知</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <p class="text-center fs-4">仅群管理可使用</p>
            </div>
        </div>
    </div>
</body>

</html>
