<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>角色奇遇</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/table.css" rel="stylesheet">
</head>

<body>
    <div class="container" id="main">
        <div class="card" style="background-image: url('img/bg.png');">
            <div class="card-header">
                <div class="row">
                    <div class="col">
                        <div class="text-center fs-4">
                            <p><img src="img/location.png" height="30" width="30">{{ server }}</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-center fs-4">
                            <p><img src="img/header.png" height="30" width="30">{{ name }}</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-center fs-4">
                            <p><img src="img/cube.png" height="30" width="30">奇遇统计</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    {% for one in data.world_serendipity %}
                    <div class="col-4">
                        <div class="card border-0" style="background-color: transparent;width: 18rem;">
                            <img src="serendipity/{{ one.serendipity }}.png">
                            <div class="card-body text-center fs-5">
                                <p><img src="img/calendar.png" height="30" width="30">{{ one.time }}</p>
                                <p>{{ one.day }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="text-with-hr fs-5">
                        <span>奇遇 {{ data.num_world }} 番 | 珍宠 {{ data.num_pet }} 番</span>
                    </div>
                    {% for one in data.pet_serendipity %}
                    <div class="col-4">
                        <div class="card border-0" style="background-color: transparent;width: 18rem;">
                            <img src="serendipity/{{ one.serendipity }}.png">
                            <div class="card-body text-center fs-5">
                                <p><img src="img/calendar.png" height="30" width="30">{{ one.time }}</p>
                                <p>{{ one.day }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="card-footer">
                <h6 class="text-center fs-5">数据来源：www.jx3api.com</h6>
            </div>
        </div>
    </div>
</body>

</html>
