<!doctype html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="css/table.css" rel="stylesheet">
    <title>超级用户帮助</title>
</head>

<body>
    <div class="container">
        <div class="card" style="background-image: url('img/bg.png');width: 50rem;" id="main">
            <div class="card-header">
                <h4 class="text-center">超级用户帮助</h4>
            </div>
            <div class="card-body">
                <table class="table text-center">
                    <thead class="fs-4">
                        <tr>
                            <th scope="col">指令</th>
                            <th scope="col">用途</th>
                        </tr>
                    </thead>
                    <tbody class="fs-5">
                        <tr>
                            <td>好友列表</td>
                            <td>查看bot的好友列表</td>
                        </tr>
                        <tr>
                            <td>删除好友 [<span class="text-danger">QQ号</span>]</td>
                            <td>删除该好友</td>
                        </tr>
                        <tr>
                            <td>群列表</td>
                            <td>查看bot的群列表</td>
                        </tr>
                        <tr>
                            <td>打开|关闭 [<span class="text-danger">群号</span>]</td>
                            <td>远程打开|关闭群机器人开关</td>
                        </tr>
                        <tr>
                            <td>退群 [<span class="text-danger">群号</span>]</td>
                            <td>让bot退出该群</td>
                        </tr>
                        <tr>
                            <td>广播 [<span class="text-success">群号</span>] [<span class="text-danger">消息内容</span>]</td>
                            <td>向指定群发送广播</td>
                        </tr>
                        <tr>
                            <td>全体广播 [<span class="text-danger">消息内容</span>]</td>
                            <td>发送全体广播</td>
                        </tr>
                        <tr>
                            <td>ticket</td>
                            <td>推栏ticket管理</td>
                        </tr>
                        <tr>
                            <td>查看连接</td>
                            <td>查看当前ws连接状态</td>
                        </tr>
                        <tr>
                            <td>连接服务</td>
                            <td>主动连接ws服务器</td>
                        </tr>
                        <tr>
                            <td>关闭连接</td>
                            <td>主动关闭ws服务器</td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <p class="text-center fs-5">仅超级用户可使用</p>
            </div>
        </div>
    </div>
</body>

</html>
