aiosqlite==0.17.0
anyio==3.6.1
APScheduler==3.9.1
arrow==1.2.2
asgiref==3.5.2
binaryornot==0.4.4
black==22.6.0
certifi==2022.5.18.1
chardet==4.0.0
charset-normalizer==2.0.12
click==8.1.3
colorama==0.4.5
cookiecutter==1.7.3
fastapi==0.78.0
greenlet==1.1.2
h11==0.12.0
httpcore==0.15.0
httptools==0.4.0
httpx==0.23.0
idna==3.3
importlib-metadata==4.11.3
iso8601==1.0.2
Jinja2==3.1.2
jinja2-time==0.2.0
loguru==0.6.0
MarkupSafe==2.1.1
mccabe==0.7.0
msgpack==1.0.4
multidict==6.0.2
mypy-extensions==0.4.3
nb-cli==0.6.7
nonebot-adapter-onebot==2.1.1
nonebot2==2.0.0b4
pathspec==0.9.0
pip==21.2.4
platformdirs==2.5.2
playwright==1.22.0
poyo==0.5.0
prompt-toolkit==3.0.29
pycodestyle==2.8.0
pydantic==1.9.1
pyee==8.1.0
pyfiglet==0.8.post1
pyflakes==2.4.0
pygtrie==2.4.2
pypika-tortoise==0.1.5
python-dateutil==2.8.2
python-dotenv==0.20.0
python-slugify==6.1.2
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
requests==2.28.0
rfc3986==1.5.0
setuptools==61.2.0
six==1.16.0
sniffio==1.2.0
starlette==0.19.1
text-unidecode==1.3
toml==0.10.2
tomli==2.0.1
tomlkit==0.10.2
tortoise-orm==0.19.1
typing_extensions==4.2.0
tzdata==2022.1
tzlocal==4.2
urllib3==1.26.9
uvicorn==0.17.6
watchgod==0.8.2
wcwidth==0.2.5
websockets==10.1
wheel==0.37.1
win32-setctime==1.1.0
wincertstore==0.2
yarl==1.7.2
zipp==3.8.0
